h3 {text-align: center;
     padding: 20px;}
body {background-color:red}
h1 {color:black; font-family: sans-serif; font-size: 40px; text-align: center}
ul {color:black; font-family: sans-serif; font-size: 30px; text-align: center}
h4 {text-align: center}
h5 {text-align: center}
h2 {color:black; font-family: sans-serif; font-size:40px; text-align: center}
h6 {color:black; font-family: sans-serif; font-size:40px; text-align: center}
p {color:black; font-family: sans-serif; font-size:20px; text-align: center}
